
section.image { margin: 0; height: 400px; }

.aboutme {
 /* background-color: brown; */
 padding-top: .8em;
 text-align: center;
 margin: 0;
}



/* Icons */

.smicon {
    font-size: 1.4rem;
    padding: 0.2rem 1.3rem;
}

/* #linkedin {
    font-size: 1.4rem;
    padding: 5px;
}

#instagram {
    font-size: 1.4rem;
    padding: 5px;
}

#discord{
    font-size: 1.4rem;
    padding: 5px;
} */

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hello {
    padding-bottom: 0.8rem;
}


.sociallinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


